/*- Typograpy and resets -*/
html {
    font-size: 16px;
    overflow: hidden;
  }
  
  body {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%;
    background-color: #fff;
  }
  
  h1,
  h2 {
    margin-top: 0;
  }
  
  h1 {
    padding-top: 3vw;
    /* padding-bottom: 1vw; */
    color:  #606B9B;
    font-family: 'Raleway';
    /* font-weight: bold; */
    font-size: 4vw;
    padding-bottom: 1vw;
    text-align: center;
    font-style: bold;
    font-weight: 5vw;
  }
  
  h2 {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 400;
    /* left: 2vw; */
  }
  
  .card-side-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* align-items: center; */
      /* -webkit-flex: 2 0 0; */
      /* position: relative; */
      /* position: absolute;  */
      text-align: center;
      /* left: 5vw; */
      width: 80%;
      height: 80%;
  }
  
  .side-front{
    position: relative; 
    left: 4vw;
    text-align: center;
    top: 50vw;
    /* bottom: 50vw; */
  }
  
  /*- Card container -*/
  .card-container {
    position: relative;
    z-index: 1;
    margin: 32px auto;
    max-width: 720px;
    height: 420px;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  
  /*- Card body -*/
  .card-body {
    /* border-color: gray; */
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    transition: all .6s linear;
  }
  /* .side-front{
    transition: opacity 1s ease-in, visibility .75s linear;
  } */
  
  /*- Flipping the card -*/
  /* .card-container:active .card-body {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  
  .card-container:active > .card-body > .side-front {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in, visibility .75s linear;
  }
   */
  /*- Card sides -*/
  .card-side {
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 85%;
    height: 85%;
    color: #212121;
    background-color: #fff;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    box-shadow: 0 10px 35px rgba(50, 50, 93, 0.1), 0 2px 15px rgba(0, 0, 0, 0.07);
  }
  
  
  /*- Back side -*/
  .side-back {
    /* z-index: 10; */
    /* padding: 32px; */
    text-align: center;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  
  
  /* input,
  textarea {
    padding: 8px;
    width: 100%;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #eee;
    border-left: 0;
  }
  input:focus,
  textarea:focus {
    outline: 0;
    border-bottom: 1px solid #0c81f6;
  } */
  
  textarea {
    max-height: 80px;
    resize: vertical;
  }
  
  /* .btn-primary {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #0c81f6;
    border: none;
    box-shadow: 0 10px 35px rgba(50, 50, 93, 0.1), 0 2px 15px rgba(0, 0, 0, 0.07);
    transition: background-color .25s ease-in, box-shadow .25s ease-in;
  }
  
  .btn-primary:focus, .btn-primary:active {
    background-color: #56a7f9;
    box-shadow: 0 18px 35px rgba(50, 50, 93, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07);
  } */
  
  textarea:focus {
    outline: none;
  }
  
  textarea {
    border: none;
  }
  


  /*style*/

  .next_button{
    position: relative;
    left: 63vw;
    bottom: 2vw;
}

.add_button{
    position: relative; 
    bottom: 5.3vw;
    left: 6vw;
}

.next_button button{
    background-color: #70C7A9;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 2vw;
    /* margin: 4px 2px; */
    padding: .5vw 2vw;
    border-radius: 12px;
    font-style: Helvetica; 
}

.add_button button{
    background-color: #606B9B;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 2vw;
    /* margin: 4px 2px; */
    padding: .9vw 2vw;
    border-radius: 12px;
    font-style: Helvetica; 
}
.class{
  align-content: center;
}
#output{
  /* margin-top: 2.5vw; */
  background-color: #ffffff;
  border-style: solid;
  border-width: 4px;
  border-color: gray;
  width: 40vw;
  height: 3vw;
  /* float: right; */
  /* margin-left: 24vw; */
  margin:auto;
  position: relative; 
  text-align: center;
  font-style: Helvetica;
  font-size: 1.5vw;
  bottom: 4vw;
  left: 30vw;
}

.footer{
  width:100%;
  text-align: center;
  background-color:  #606B9B;
  padding-top: 1.5vw;
  padding-bottom:2vw;
}
